@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 1rem;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-body {
  padding: 1rem;
}

.btn-primary {
  background-color: #3490dc;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #2779bd;
}
 .form-input{
  border:1px solid black;
  border-radius: 5px;
 }




 /* login */
 *{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  width:400px;
  height: 400px;
  background-color: #040D12;
  border-radius: 15px;
}
.heading{
  color: white;
  text-align: center;
}
input{
  border-radius: 50px;
  border: 1px solid aqua;
  background-color: #040D12;
  text-align: center;
  padding: 8px;
  margin: 13px 20px;
  width: 250px;
  color: #D8D9DA;
}
h6{
  margin-top: 15px;
  margin-bottom: 0;
}
.btn{
  display: block;
  align-items: center;
  margin-top: 15px;
  border-radius: 50px;
  border: 1px solid #F8DE22;
  padding: 8px 65px;
  background-color: #040D12;
  color: #ADC4CE;
  cursor: pointer;
}
.btn_ls{
  display: block;
  align-items: center;
  border-radius: 50px;
  border: 1px none;
  padding: 8px 10px;
  background-color: #040D12;
  color: #ADC4CE;
  cursor: pointer;
  margin: 4px;
}
.home_btns{
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.do{
  color: #D8D9DA;
}